*{
    margin:0;
    padding:none;
}

body{
   background-color: #7da0ca;
}
.sticky_bar{
   display:inline-block;
   position:fixed;
   font-size: 30px;
   margin-left:93%;
}
.h1{
    text-align: center;
    font-size: 60px;
    color: white;
    display: inline-block;
    margin-left: 600px;
    position: absolute;
}

.nav{
    background-color: antiquewhite;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 850px;
    display:flex;
    gap:30px;

    
}
.out,.out2{
    
    margin-left: 40px;
    margin-top: 60px;
    width: 20%;
    height:300%;
    display: flex;
    gap: 50px;
   
}
.outborder{
    background-color: #EBEBEB;
    border-radius: 40px;
}

.outborder>img{
    text-align: center;
    margin-left: 6px;
    border-radius: 30px;
    padding: 20px;
    width: 200px;
    height:200px;
    transition: 1s;
}
.inborder{
    text-align: center;
    background-color: #C1E8FF;
    width: 100%;
    height:32%;
    position:relative;
    border-radius: 30px;
}
h2{
    text-align: center;
    cursor:default;
}

input{
    font-size: 30px;
    background-color:white;           
    padding-left: 20px;
    padding-right: 20px; 
    border-radius: 20px;
    color: rgb(44, 42, 42);
    transition: 0.5s;
    

}
input:hover{
    font-size: 32px;
    padding-left: 40px;
    padding-right: 40px;
    box-shadow: 5px 5px 5px 5px rgb(12, 10, 10);
    cursor: pointer;
    color: white;
    background-color:rgb(240, 188, 120) ;
}

.outborder>img:hover{
    width: 225px;
    height: 220px;
}

.nav>h3{
    padding: 10px 15px;
    font-size: 16px;
    color: white;
    background: linear-gradient(90deg, #070e0f2d,#C1E8FF);
    border: none;
    border-radius: 50px;
    box-shadow: 0 4px 15px rgba(225,0,102,0);
    transition: box-shadow 0.5s ease, transform 0.5s ease;

}
.nav>h3>a{
    text-decoration: none;
    color:rgb(5, 5, 5);
    font-weight: bold;
    font-size: 17px;
    
}
.nav>h3:hover{
    box-shadow: 0 10px 20px rgba(24, 26, 25, 0.5);
    transform: translateY(6px);
}

table{
    border: black 3px solid;
    margin-left: 800px;
    border-radius: 50px;
}